In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
data = {'name': ['Ashish', 'Raj', 'Ram'],
        'age': [27, 39, 22],
        'salary': [50000, 20200, 39423]
}
data

In [ ]:
df = pd.DataFrame(data)
df

In [ ]:
df.describe()

In [ ]:
x=df.drop(columns=(['name','age']))
y=df.drop(columns=(['name','salary']))

In [ ]:
plt.scatter(x,y,color='r')